name: Pipeline

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ feature/gas-optimization ]
  pull_request:
    branches: [ feature/gas-optimization ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Test
    runs-on: ubuntu-18.04

    env:
      TEST_BSC_PROVIDER: https://bsc-dataseed.binance.org/
      TEST_ORACLE_KEYS: ${{ secrets.TEST_ORACLE_KEYS}}

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 14 LTS
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - uses: actions/cache@v2
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Cache node_modules
      id: cache-node-modules
      uses: actions/cache@v2
      with:
        path: node_modules
        key: ${{ runner.os }}-${{ matrix.node-version }}-nodemodules-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.node-version }}-nodemodules-

    - name: Installing dependencies
      run: yarn install --frozen-lockfile --prefer-offline
      if: |
        steps.cache-yarn-cache.outputs.cache-hit != 'true' ||
        steps.cache-node-modules.outputs.cache-hit != 'true'

    - name: Start ganache in background
      run: yarn start-ganache -q &

    - name: Test Aggregator
      run: yarn test test/00_Aggregator.test.js

    - name: Test DeBridge Full
      run: yarn test test/01_FullDebridge.test.js

    - name: Test DeBridge Light
      run: yarn test test/02_LightDebridge.test.js

    - name: Test DeBridge Full Auto
      run: yarn test test/04_AutoFullDebridge.test.js

    - name: Shutdown ganache
      run: killall node
